.frames {
    width: 500px; /* Increased width */
    height: 200px; /* Increased height */
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0.8rem;
    margin-bottom: 20px; /* Added margin-bottom for gap */

    transform: rotateY(-230deg) rotateX(20deg);
    position: absolute;
}

.frames img {
    width: 150px; /* Increased image size */
    height: 150px; /* Increased image size */
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.frames p {
    font-size: 24px; /* Increased font size */
    font-weight: bold;
    transform: rotateY(180deg);
}

.frames:nth-child(1) {
    top: -130px; /* Adjusted top position */
    z-index: -1;
    background-color: coral;
}

.frames:nth-child(2) {
    top: -280px; /* Adjusted top position with added gap */
    background-color: goldenrod;
}

.frames:nth-child(3) {
    top: -430px; /* Adjusted top position with added gap */
    background-color: burlywood;
}
